.tooltip_text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    }

    .hover_text:hover .tooltip_text {
    visibility: visible;
    }

    #top {
    top: -40px;
    left: -50%;
    }

    #bottom {
    top: 25px;
    left: -50%;
    }

    #left {
    top: -8px;
    right: 120%;
    }

    #right {
    top: -8px;
    left: 120%;
    }





    /*  */

    .top {
    top: -30%;
    left:  30px;
    }

    .bottom {
    top: 110%;
    left: 30px;
    }

    .left {
        left: -70%;
        top: 50%;
        transform: translateY(-50%);
    }

    .right {
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
    }

    /*  */

    .hover_text {
    position: relative;
    display: inline-block;
    margin: 40px;
    font-family: Arial;
    text-align: center;
    padding: 4rem;
    font-size: larger;
    }